{{ form_start(form)}}

    <div class="row">
        <div class="col-md-4"> {{ form_row(form.name) }} </div>
        <div class="col-md-4"> {{ form_row(form.telephone) }} </div>
        <div class="col-md-4"> {{ form_row(form.address) }} </div>
    </div>

    <div class="row">
        <div class="col-md-4"> {{ form_row(form.average_price) }} </div>
        <div class="col-md-4"> {{ form_row(form.evaluation) }} </div>
        <div class="col-md-4"> {{ form_row(form.place) }} </div>
    </div>

    <div class="row">
        <div class="col-md-5"> {{ form_row(form.start_at) }} </div>
        <div class="col-md-5"> {{ form_row(form.close_at) }} </div>  
    </div>

    {{ form_rest(form) }}
    <button class="btn btn-primary"> {{button|default('Enregistrer')}} </button>
{{ form_end(form) }}